<li>

    <div class="content">
            <%= response.content %>
    </div>
    <span class="email">
        <%= response.email %>
    </span>
    <span class="answers"><%= response.created_at.strftime("%d.%m.%Y %H:%M") %></span>
    
</li>